<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">

{%csrf_token%}
<label >username: </label>
{{user_form.username}}<br>
<label >password: </label>
{{user_form.password1}}<br>
<label >confirm-password: </label>
{{user_form.password2}}<br>
<label >email: </label>
{{user_form.email}}<br>
        <button type="submit">Register</button>
    </form>
</body>
</html>